.app {
  color: var(--dark1);
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}
.wrap {
  width: 100%;
  display: flex;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: all 0.3s ease;
  background: var(--white);
  border-right: 1px solid var(--gray2);
}
main {
  position: relative;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--white);
}
header {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: inherit;
  box-sizing: border-box;
  height: 48px;
  background-color: var(--white);
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 4px var(--shadow);
}
section {
  padding: 70px 24px 0;
  margin: auto;
  width: 100%;
  min-width: 1200px;
  max-width: 2400px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.fullscreen nav,
.fullscreen nav.colse,
.fullscreen header {
  width: 0 !important;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  visibility: hidden;
}

.fullscreen main,
.fullscreen nav.close ~ main {
  width: 100%;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.fullscreen main section {
  padding: 24px 24px 0;
  transition: all 0.3s ease-in-out;
}

.tab-style2 .tab {
  border-top: solid 1px var(--gray3);
  border-left: solid 1px var(--gray3);
  border-right: solid 1px var(--gray3);
  border-bottom: solid 1px var(--main);
  background-color: var(--gray);
  transition: unset;
  margin-right: -1px;
  color: var(--dark);
}
.tab-style2 .tab-slider {
  display: none;
}
.tab-style2 .tab.active {
  border-top: solid 1px var(--main);
  border-left: solid 1px var(--main);
  border-right: solid 1px var(--main);
  border-bottom: unset;
  color: var(--main);
  background: var(--white);
  transition: unset;
  z-index: 10;
}
.tab-style2 .tabs {
  border-bottom: unset;
  bottom: -1px;
  background-color: var(--gray1);
  box-shadow: inset 0px -1px 0px var(--main);
}

.tab-style2 .tab-content {
  border: solid 1px var(--main);
  padding: 20px;
  margin: unset;
}
.tab-style3 .tab {
  transition: unset;
  margin-right: -1px;
  color: var(--dark);
  border-radius: 40px;
}
.tab-style3 .tab-slider {
  display: none;
}
.tab-style3 .tab.active {
  color: var(--white);

  z-index: 10;
}
.tab-style3 .tabs {
  background-color: var(--gray);
  border-radius: 40px;
  overflow: hidden;
  padding: 2px 5px;
  box-shadow: inset 1px 3px 5px 0px var(--shadow);
}

.tab-style3 .tab-content {
  padding: 20px;
  margin: unset;
}
.tab-style3 .tab-slider {
  display: block;
  background-image: linear-gradient(var(--main), var(--primary5));
  position: absolute;
  bottom: 3px;
  height: 33px;
  border-radius: 36px;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}
.tabs {
  display: flex;
  justify-content: flex-start;
  position: relative;
  border-bottom: solid 2px var(--gray2);
  flex-direction: row;
}

.tab {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  /* border-bottom: 2px solid transparent; */
  transition: border-bottom-color 0.3s ease-in-out;
}

.tab.active,
.tab:hover {
  color: var(--main);
  transition: all 0.3s ease;
}

.tab-content {
  margin: 20px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.tab-slider {
  position: absolute;
  bottom: -2px;
  height: 2px;
  border-radius: 5px;
  background-color: var(--main);
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.breadcrumb {
  display: flex;
  justify-content: space-between;
}
.breadcrumb div {
  display: flex;
  align-items: center;
}
.breadcrumb div .screen {
  display: flex;
  font-size: 1rem;
  margin-left: 16px;
  cursor: pointer;
  padding: 5px;
}
.breadcrumb div .screen:hover {
  background-color: var(--gray);
  border-radius: 3px;
  transition: all 0.3s ease-in;
}
.breadcrumb ol {
  display: flex;
  line-height: 30px;
}
.breadcrumb ol li {
  color: var(--dark);
}
.breadcrumb ol li.title {
  color: var(--black);
  font-weight: 500;
}
.breadcrumb ol li:nth-of-type(odd) {
  margin: 0 7px;
}
